* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #259ace;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4fdaec), color-stop(10%, #ffffff));
  background-image: linear-gradient(180deg, #4fdaec 0%, #ffffff 10%);
}

.aside {
  text-align: left;
  padding-bottom: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 120px;
}

.aside .form-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 220px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-top: 20px;
}

.aside .form-description .error-message {
  font-size: 15px;
  color: red;
  font-weight: bold;
}

.aside .form-description input {
  margin: 5px 0;
  width: 300px;
  height: 37px;
  background-color: #f3f3f3;
  border: 0;
  min-width: 18em;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.aside .form-description input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 12px 0.8px #44d3ff63;
          box-shadow: 0px 0px 12px 0.8px #44d3ff63;
}

.aside .form-description .signup-container p {
  margin-top: 10px;
}

.aside .form-description .signup-container span {
  font-weight: bold;
  font-size: 16px;
  color: #ff9100;
  text-decoration: underline;
  cursor: pointer;
}

.aside .form-description .signup-container button {
  margin: 5px 0;
  font-weight: bold;
  width: 300px;
  height: 40px;
  background-color: #00bdff;
  border: 0;
  min-width: 18em;
  font-size: 16px;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.aside .form-description .signup-container button:hover {
  outline: none;
  background-color: #1fcc62;
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px 0.8px #00000063;
          box-shadow: 0px 0px 3px 0.8px #00000063;
}

.aside h2 {
  font-size: 70px;
  line-height: 52px;
}

.image {
  padding-top: 20px;
}

.image img {
  margin: 70px 0 0 20px;
  max-width: 550px;
}

.header {
  background-color: #74d4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header span {
  font-weight: bold;
  font-size: 16px;
  color: #ff0000;
  text-decoration: underline;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */